.text1{
    margin:0 auto;
    width:445px; 
    text-align:center; 
    padding-top:20px;
}

table {
    border:1px solid rgb(73, 73, 73);
    margin:0 auto; 
    text-align:center;
    border-collapse:collapse;
    padding:20px;
}

thead td{
    padding:10px;
}


tbody td {
    border: 1px solid rgb(73, 73, 73);
    padding:10px;
}

thead {
    border:1px solid orange;
    background-color:orange;
    color:#fff;
}

tbody tr.selected {
    background-color: orange;
<<<<<<< HEAD
}
=======

    border-collapse:collapse;
    padding:20px;
}

thead td{
    padding:10px;
}


tbody td {
    border: 1px solid rgb(73, 73, 73);
    padding:10px;
}

thead {
    border:1px solid orange;
    background-color:orange;
    color:#fff;
}

tbody tr.selected {
    background-color: orange;
}/*선택된 tr색 변경 */



>>>>>>> 011eeaa2b21bb70f22306b4731a171b1d68b71f6
